@font-face {
  font-family: 'bonvenocflight';
  src: url("../fonts/BonvenoCF-Light-webfont.eot");
  src: url("../fonts/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BonvenoCF-Light-webfont.woff") format("woff"), url("../fonts/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../fonts/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'amaranth';
  src: url("../fonts/Amaranth-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'amaranth';
  src: url("../fonts/Amaranth-Bold.otf") format("otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?2op9lo");
  src: url("../fonts/icons.eot?#iefix2op9lo") format("embedded-opentype"), url("../fonts/icons.woff?2op9lo") format("woff"), url("../fonts/icons.ttf?2op9lo") format("truetype"), url("../fonts/icons.svg?2op9lo#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'bonvenocflight', Helvetica, sans-serif;
  background-color: #58A1BE; }

.greeting {
  font-size: 5em;
  padding: 10%;
  text-align: center;
  color: #fff;
  background-color: #58A1BE; }
  .greeting header {
    font-weight: bold;
    padding-bottom: 25px; }
  .greeting h1 {
    font-weight: normal;
    font-size: .5em; }
  .greeting h2 {
    padding-top: 25px;
    font-weight: normal; }

.section-heading {
  font-size: 1.5em;
  color: #5E789B;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  padding-top: 75px; }

.project-links {
  position: relative;
  z-index: 2;
  box-shadow: 0 -2px 15px #303D4F, 0 2px 15px #303D4F;
  font-family: 'amaranth';
  font-weight: bold;
  height: auto;
  font-size: 3em;
  width: 100%;
  background-color: #DBDDDA; }
  .project-links .description {
    display: block;
    background-color: #5E789B;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
    font-size: .8em; }
  .project-links .descriptionlink {
    text-shadow: none;
    text-decoration: none; }
  .project-links ul {
    width: 80%;
    margin: 0 auto; }
  .project-links li {
    text-align: center;
    padding: 20px 0; }
    .project-links li a {
      text-decoration: underline;
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
      color: #5E789B;
      text-shadow: 2px 2px 6px rgba(54, 27, 25, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3); }
      .project-links li a:hover {
        color: #CE6960; }
    .project-links li:last-child {
      padding-bottom: 75px; }

.social {
  color: #fff;
  height: 100px; }
  .social ul {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .social li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    font-size: 2em;
    padding: 50px 0;
    width: 200px; }
  .social a {
    color: inherit; }
  .social #resume:after, .social #linkedin:after, .social #github:after, .social #email:after {
    font-family: 'icons';
    -webkit-transition: text-shadow .5s;
    -moz-transition: text-shadow .5s;
    -o-transition: text-shadow .5s;
    transition: text-shadow .5s; }
  .social #resume:after {
    content: "\e602"; }
  .social #linkedin:after {
    content: "\e601"; }
  .social #github:after {
    content: "\e600"; }
  .social #email:after {
    content: "\e603"; }
  .social #resume:hover, .social #linkedin:hover, .social #github:hover, .social #email:hover {
    text-shadow: 0px 0px 15px #fff; }
    .social #resume:hover .descriptionbubble, .social #linkedin:hover .descriptionbubble, .social #github:hover .descriptionbubble, .social #email:hover .descriptionbubble {
      bottom: 95px; }
  .social .descriptionbubble {
    -webkit-transition: bottom .5s;
    -moz-transition: bottom .5s;
    -o-transition: bottom .5s;
    transition: bottom .5s;
    font-size: .8em;
    position: absolute;
    bottom: 145px;
    left: 120px;
    background-color: #fff;
    color: #58A1BE;
    border-radius: 8px 8px 8px 0px;
    border: 3px solid #fff; }

@media (max-width: 1030px) {
  .section-heading {
    padding-top: 25px; }

  .greeting {
    font-size: 4em; }

  .project-links {
    font-size: 2em; }

  .social li {
    font-size: 1.8em;
    width: 100px;
    padding-top: 55px; }
  .social .descriptionbubble {
    left: 70px; } }
@media (max-width: 530px) {
  .greeting {
    font-size: 3em; }
    .greeting h1 {
      font-size: .4em; }
    .greeting h2 {
      font-size: .8em; }

  .social li:nth-last-child(2), .social li:last-child {
    padding-top: 0;
    right: 3px;
    color: #fff; }

  .descriptionbubble {
    display: none; } }
