@font-face {
  font-family: 'proximanova';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#futuralt") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot?2op9lo");
  src: url("../fonts/icons.eot?#iefix2op9lo") format("embedded-opentype"), url("../fonts/icons.woff?2op9lo") format("woff"), url("../fonts/icons.ttf?2op9lo") format("truetype"), url("../fonts/icons.svg?2op9lo#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #58A1BE;
  color: #fff; }

h1,
h2,
a {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700; }

p,
ul,
.description-link {
  font-family: 'proximanova', sans-serif; }

.greeting {
  font-size: 5em;
  padding: 10% 0;
  text-align: center;
  background-color: #58A1BE; }
  .greeting p {
    padding-top: 25px; }

.section-heading {
  font-size: 3em;
  border: 5px solid #fff;
  width: 300px;
  margin: 0 auto 50px auto; }

#project-links, #about-me {
  padding: 50px 0;
  width: 100%;
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 1; }

#about-me {
  -webkit-box-shadow: 0 -2px 15px #303D4F, 0 2px 15px #303D4F;
          box-shadow: 0 -2px 15px #303D4F, 0 2px 15px #303D4F;
  background: #303A3E; }

#strengths {
  font-size: 2em;
  margin-top: 50px; }
  #strengths h2 {
    font-size: 1.1em;
    text-decoration: underline;
    padding-bottom: 10px; }

.strengths-list {
  display: inline-block;
  vertical-align: top;
  padding: 0 25px; }

#project-links {
  background: #DDE0E0;
  -webkit-box-shadow: 0 -2px 15px #1C2124, 0 2px 15px #1C2124;
          box-shadow: 0 -2px 15px #1C2124, 0 2px 15px #1C2124; }
  #project-links .section-heading {
    color: #16272E;
    border: 5px solid #16272E; }

figure {
  position: relative;
  -webkit-backface-visibility: hidden;
  display: block;
  overflow: hidden;
  width: 60%;
  left: 20%;
  text-align: center;
  margin: 0;
  margin-bottom: 25px; }
  figure h2,
  figure a {
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0); }
  figure h2 {
    color: #16272E;
    word-spacing: -0.15em;
    float: left; }
  figure a {
    float: right;
    color: #58A1BE; }
    figure a:hover {
      color: #4B869E; }
  figure:hover .overlay {
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  figure:hover .description {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  figure:hover figcaption,
  figure:hover h2,
  figure:hover figcaption a {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  figure:hover h2,
  figure:hover a {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s; }

.description-link {
  float: none; }

.description {
  letter-spacing: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 5em;
  margin-left: -1em;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: all 0.35s;
          transition: all 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
          transform: translate3d(0, 200%, 0); }

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #4C4B50;
  opacity: 0;
  -webkit-transition: all .35s;
          transition: all .35s; }

img {
  position: relative;
  display: block;
  width: 100%; }

figcaption {
  position: absolute;
  padding: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1em;
  height: 1em;
  background: #fff;
  -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0); }

.social ul {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
.social li {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2em;
  padding: 50px 0;
  width: 200px; }
.social a {
  font-family: 'proximanova', sans-serif;
  color: inherit; }

#resume {
  width: auto; }

#resume:after,
#linkedin:after,
#github:after,
#email:after {
  font-family: 'icons';
  -webkit-transition: text-shadow .5s;
  transition: text-shadow .5s; }

#resume:after {
  content: "\e602"; }

#linkedin:after {
  content: "\e601"; }

#github:after {
  content: "\e600"; }

#email:after {
  content: "\e603"; }

#resume:hover,
#linkedin:hover,
#github:hover,
#email:hover {
  text-shadow: 0px 0px 15px #fff; }
  #resume:hover .descriptionbubble,
  #linkedin:hover .descriptionbubble,
  #github:hover .descriptionbubble,
  #email:hover .descriptionbubble {
    bottom: 95px; }

.descriptionbubble {
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
  font-size: .8em;
  position: absolute;
  bottom: 145px;
  left: 120px;
  background-color: #fff;
  color: #58A1BE;
  border-radius: 8px 8px 8px 0px;
  border: 3px solid #fff; }

@media (max-width: 1030px) {
  .section-heading {
    padding-top: 25px; }

  .greeting {
    font-size: 4em; }

  figure {
    width: 90%;
    left: 5%; }
    figure img {
      height: 110%; }

  .site-image {
    width: 100%; }

  .social li {
    font-size: 1.8em;
    width: 100px;
    padding-top: 55px; }
  .social .descriptionbubble {
    left: 70px; } }
@media (max-width: 645px) {
  figure .description {
    bottom: 4em;
    font-size: 1.2em; } }
@media (max-width: 530px) {
  .greeting {
    font-size: 3em; }
    .greeting h1 {
      font-size: .4em; }
    .greeting h2 {
      font-size: .8em; }

  .social li:nth-last-child(2), .social li:last-child {
    padding-top: 0;
    right: 3px;
    color: #fff; }

  .descriptionbubble {
    display: none; } }
