@font-face {
	font-family: 'proximanova';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova-light-webfont.woff') format('woff'),
	url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
	url('../fonts/proximanova-light-webfont.svg#futuralt') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?2op9lo');
	src:url('../fonts/icons.eot?#iefix2op9lo') format('embedded-opentype'),
	url('../fonts/icons.woff?2op9lo') format('woff'),
	url('../fonts/icons.ttf?2op9lo') format('truetype'),
	url('../fonts/icons.svg?2op9lo#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	background-color:#58A1BE;
	color:#fff;
}

h1, 
h2, 
a{
	font-family: 'Libre Baskerville', serif;
	font-weight:700;
}

p, 
ul, 
.description-link{
	font-family: 'proximanova', sans-serif;
}

#greeting{
	font-size:5em;
	padding:10% 0;
	text-align:center;
	background-color:#58A1BE;
	p{
		padding-top:25px;
	}
}

.section-heading{
	font-size:3em;
	border: 5px solid #fff;
	width:275px;
	margin: 0 auto 50px auto;
}

#project-links, #about-me {
	padding: 50px 0;
	width: 100%;
	list-style: none;
	text-align: center;
	position:relative;
	z-index:1;
}

#about-me{
	box-shadow: 0 -2px 15px #303D4F, 0 2px 15px #303D4F;
	background:#303A3E;
}

#strengths{
	font-size:2em;
	margin-top:50px;
	h2{
		font-size:1.1em;
		text-decoration:underline;
		padding-bottom:10px;
	}
}

.strengths-list{
	display:inline-block;
	vertical-align:top;
	padding:0 25px;
	&:first-child{
		margin-left:30px;
	}
}

#project-links{
	background:#DDE0E0;
	box-shadow: 0 -2px 15px #1C2124, 0 2px 15px #1C2124;
	.section-heading{
		color:#16272E;
		border: 5px solid #16272E;
	}
}

figure {
	position: relative;

	//prevent element from moving on hover
	-webkit-backface-visibility:hidden;
	//
	display: block;
	overflow: hidden;
	width: 60%;
	left: 20%;
	text-align: center;
	margin:0;
	margin-bottom:25px;
	
	h2, 
	a{
		transition: all 0.35s;
		transform: translate3d(0,200%,0);
	}
	h2 {
		color:#16272E;
		word-spacing: -0.15em;
		float:left;
	}
	a{
		float:right;
		color:#58A1BE;
		&:hover{
			color:#4B869E;
		}
	}

	&:hover{

		.overlay{
			opacity:0.7;
			transform: translate3d(0,0,0);
		}
		.description{
			opacity:1;
			transform: translate3d(0,0,0);
		}

		figcaption,
		h2,
		figcaption a{
			transform: translate3d(0,0,0);
		}

		h2,
		a{
			transition-delay: 0.05s;	
		}
	}
}

.description-link{
	float:none;
}

.description {
	letter-spacing: 1px;
	width:90%;
	left:5%;
	display:block;
	position: absolute;
	bottom:5em;
	text-transform: none;
	font-size: .9em;
	opacity: 0;
	transition: all 0.35s;
	transform: translate3d(0,200%,0);
}

.overlay{
	height:100%;
	width:100%;
	position:absolute;
	bottom:0;
	background:#4C4B50;
	opacity:0;
	transition: all .35s;
	transform: translate3d(0, -100%,0);
}

img {
	position: relative;
	display: block;
	width:100%;
}

figcaption {
	position:absolute;
	padding: 2em;
	text-transform: uppercase;
	font-size: 1.25em;
	bottom: 0;
	right:0;
	left:0;
	padding: 1em;
	height: 1em;
	background: #fff;
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
}

#social{
	ul{
		width:80%;
		margin:0 auto;
		text-align:center;

	}
	li{
		display:inline-block;
		position:relative;
		box-sizing:border-box;
		font-size:2em;
		padding:50px 0;
		width:200px;
	}
	a{
		font-family: 'proximanova', sans-serif;
		color:inherit;
	}
}
#resume{
	width:auto;
}

#resume:after, 
#linkedin:after, 
#github:after, 
#email:after{
	font-family:'icons';
	-webkit-transition: text-shadow .5s;
	transition: text-shadow .5s;
}

#resume:after{
	content:"\e602";
}

#linkedin:after{
	content:"\e601";
}

#github:after{
	content:"\e600";
}

#email:after{
	content:"\e603";
}

#resume:hover, 
#linkedin:hover, 
#github:hover, 
#email:hover{
	text-shadow:0px 0px 15px #fff;

	.social-bubble{
		transform: translate3d(0,0,0);
	}
}

.social-bubble{
	transition: all .5s;
	font-size:.8em;
	position:absolute;
	transform: translate3d(0,-150%,0);
	bottom:3.5em;
	left: 4.5em;
	background-color:#fff;
	color:#58A1BE;
	border-radius:8px 8px 8px 0px;
	border: 3px solid #fff;
}

@media(max-width:1120px){
	body{
		font-size:.7em;
	}
	.description{
		font-size:1.1em;
	}
	#social{
		li{
			width:100px;
		}
	}
	.social-bubble{
		bottom: 4.5em;
		left:3.5em;
		transform: translate3d(0,-200%,0);
	}

}

@media(max-width:850px){
	.strengths-list{
		display:block;
		padding-bottom:25px;

		&:first-child{
			margin-left:0;
		}
	}
	figure{
		width:95%;
		left:2.5%;
	}
}

@media(max-width:520px){
	#greeting{
		font-size:3em;
	}

	#social{
		li{
			width:50px;
		}
	}

	.social-bubble{
		display:none;
	}

	figcaption{
		font-size:.93em;
	}
}